/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  padding: 25px 0px;
  padding-left: 37.5%;
  color: rgb(255, 255, 255);
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0px 10px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px; /* Add padding for button appearance */
  border-radius: 45px; /* Make it round */
  background-color: #007AC2; /* Light background color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

/* Hover effect */
.nav-link:hover {
  background-color: #00529B; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}